@import "../../../styles.scss";

.menu-nav {
  align-items: flex-start;
  background: $roxo-escuro;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  transition: 0.5s;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 0;
  z-index: 9999;

  &__logo {
    display: block;
    padding-top: 2em;
    margin: 0 auto;
    max-width: 240px;

    @media screen and (max-width: 768px) {
      max-width: 180px;
    }
  }

  &__lista {
    padding: 1em;
    list-style-type: none;

    .lista__item {
      padding: 1em 0;

      &___link {
        align-items: center;
        color: $branco;
        display: flex;
        text-decoration: none;

        .mat-icon {
          margin-right: 1em;
          @media screen and (max-width: 768px) {
            margin-right: 0.5em;
          }
          vertical-align: middle;
        }
      }
    }
  }
  // menu ativo
  &.active {
    overflow-x: visible;
    width: 20%;

    @media screen and (max-width: 768px) {
      width: 50vw;
    }
  }
}
