@import "../../../styles.scss";

mat-stepper {
  box-shadow: 0px 1px 5px 0px #0000001f, 0px 2px 2px 0px #00000024,
    0px 1px 1px 0px #00000033;
  margin: 3em auto 0;
  width: 80%;

  mat-step {
    display: flex;
    justify-content: space-around;
  }

  .grupo-form {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 30vh;
    gap: 20px;
    padding: 1em 0;
    width: inherit;

    .container {
      display: flex;
      gap: 20px;
      width: 100%;

      .botao-criar {
        margin-left: auto;
      }
    }

    .input-full {
      width: 100%;
    }

    .input-muitoPequeno {
      flex-grow: 1;
    }

    .input-pequeno {
      flex-grow: 1.5;
    }

    .input-medio {
      flex-grow: 2;
    }

    .input-grande, .espacador {
      flex-grow: 3;
    }

    .subtitulo {
      font-family: $fonte-padrao;
      font-size: 28px;
      font-weight: 400;
    }

    .botao-cadastro {
      height: 100%;
      padding: 16px 16px;
    }

    .arquivos-label {
      display: inline;
      color: #CCCCCC;
      font-weight: 400;
      font-size: 12px;
      height: 30px;
    }
  }

  // button {
  //   margin-right: 1em;
  // }
}
