<header class="cabecalho">
  <mat-toolbar>
    <button mat-icon-button (click)="toggle()">
      <mat-icon aria-hidden="false" aria-label="Menu icon" fontIcon="menu"></mat-icon>
    </button>
    <h1 class="cabecalho__titulo">GPRO</h1>
    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="User icon" fontIcon="person"></mat-icon>
    </button>
  </mat-toolbar>
  <mat-toolbar-row>
    <span>{{ subtitulo }}</span>
  </mat-toolbar-row>
</header>
<nav class="menu-nav" [class.active]="iSmenuAtivo">
  <img src="./assets/images/gproFundoRoxo.png" alt="Logo do GPRO" class="menu-nav__logo">
  <ul class="menu-nav__lista">
    <li class="lista__item"><a routerLink="/home" class="lista__item___link"><mat-icon aria-hidden="false"
          aria-label="Home icon" fontIcon="home"></mat-icon>Home</a></li>
    <li class="lista__item"><a href="#" class="lista__item___link"><mat-icon aria-hidden="false"
          aria-label="Article icon" fontIcon="article"></mat-icon>Processos</a></li>
    <li class="lista__item"><a href="#" class="lista__item___link"><mat-icon aria-hidden="false"
          aria-label="People icon" fontIcon="people"></mat-icon>Atendimentos</a></li>
    <li class="lista__item"><a href="#" class="lista__item___link"><mat-icon aria-hidden="false"
      aria-label="Agenda icon" fontIcon="event"></mat-icon>Agenda</a></li>
    <li class="lista__item"><a routerLink="/users" class="lista__item___link"><mat-icon aria-hidden="false"
      aria-label="Statistic icon" fontIcon="manage_accounts"></mat-icon>Usuários</a></li>
    <li class="lista__item"><a href="#" class="lista__item___link"><mat-icon aria-hidden="false"
      aria-label="Statistic icon" fontIcon="bar_chart_4_bars"></mat-icon>Estastisticas</a></li>
    <li class="lista__item"><a href="#" class="lista__item___link"><mat-icon aria-hidden="false"
      aria-label="Statistic icon" fontIcon="download"></mat-icon>Relatórios</a></li>
  </ul>
</nav>
