<header class="cabecalho">
  <mat-toolbar>
    <div>
      <button mat-icon-button (click)="toggle()">
        <mat-icon aria-hidden="false" aria-label="Menu icon" fontIcon="menu"></mat-icon>
      </button>
      <h1 class="cabecalho__titulo">GPRO</h1>
    </div>
    <div>
      <h2 class="cabecalho__subtitulo">{{ subtitulo }}</h2>
    </div>
    <div>
      <p class="botao-menu__usuario">seu nome</p>
      <!-- <button mat-button [matMenuTriggerFor]="menu" class="botao-menu__usuario">seu nome</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Perfil</button>
        <button mat-menu-item>Logout</button>
        <p>versão 1.0</p>
      </mat-menu> -->
      <button mat-icon-button id="botao-ajuda">
        <mat-icon aria-hidden="false" aria-label="help icon" fontIcon="help_outline"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="user settings icon" fontIcon="settings"></mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
<app-nav-menu [iSmenuAtivo]="iSmenuAtivo"></app-nav-menu>
<app-user-menu></app-user-menu>
