.cabecalho {
  display: flex;
  background-color: $roxo-escuro;
  justify-content: center;
  padding-top: 1px;
  padding-bottom: 1em;

  &__titulo {
    color: $branco;
    font-size: 44px;
    font-weight: lighter;
    font-family: $fonte-titulo;
    text-align: center;
  }
}


