.cabecalho {
  display: flex;
  background-color: var(--roxo-escuro);
  justify-content: center;
  padding-top: 1px;
  padding-bottom: 1em;
}

.cabecalho__titulo {
  color: var(--branco);
  font-size: 44px;
  font-weight: lighter;
  font-family: var(--fonte-titulo);
  text-align: center;
}
