<app-header [subtitulo]="tituloDaPagina"></app-header>
<section class="atalhos">
  <h3 class="atalhos-titulo">Atalhos</h3>
  <div class="atalhos-card">
    <app-card-atalhos textoCard="Confira os dados do assistido" iconeCard="person" (click)="abrirModalEditar()"></app-card-atalhos>
    <app-card-atalhos textoCard="Confira os atendimentos que o assistido possui" iconeCard="info"
      (click)="abrirModalAtendimento()" />
    <app-card-atalhos textoCard="Confira os processos que o assistido possui" iconeCard="info" (click)="abrirModalProcesso()"></app-card-atalhos>
  </div>
</section>
