<section class="container">
  <h1>Identificação do Assistido</h1>
  <form [formGroup]="formAssistidos">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
          <mat-error *ngIf="formAssistidos.get('nome')?.errors?.['required']">Nome é
            obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>RG</mat-label>
          <input matInput formControlName="rg">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Naturalidade</mat-label>
          <input matInput formControlName="naturalidade">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Nacionalidade</mat-label>
          <input matInput formControlName="nacionalidade">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput formControlName="dataNascimento">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Estado Civil</mat-label>
          <input matInput formControlName="estadoCivil">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Endereço Residencial</mat-label>
          <input matInput formControlName="enderecoResidencial">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Escolaridade</mat-label>
          <input matInput formControlName="escolaridade">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Nome do pai</mat-label>
          <input matInput formControlName="nomePai">
          <mat-error *ngIf="formAssistidos.get('nomePai')?.errors?.['required']">Nome do Pai é
            obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Nome da mãe</mat-label>
          <input matInput formControlName="nomeMae">
          <mat-error *ngIf="formAssistidos.get('nomeMae')?.errors?.['required']">Nome da Mãe é
            obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Profissão</mat-label>
          <input matInput formControlName="profissao">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Remuneração</mat-label>
          <input matInput formControlName="remuneracao">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Cidade comercial</mat-label>
          <input matInput formControlName="cidadeComercial">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Endereço comercial</mat-label>
          <input matInput formControlName="enderecoComercial">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Nº de dependentes</mat-label>
          <input matInput formControlName="numDependentes">
        </mat-form-field>
      </div>
    </div>
    <div class="btn-group">
      <button mat-flat-button class="btn" color="warn" (click)="excluir()">EXCLUIR</button>
      <button mat-flat-button type="reset" class="btn btn-basic">LIMPAR</button>
      <button mat-flat-button type="submit" (click)="executarAcao()" class="btn btn-basic"
        [disabled]="formAssistidos.invalid">SALVAR</button>
      <button mat-flat-button type="submit" (click)="executarAcao()" class="btn" color="primary"
        [disabled]="formAssistidos.invalid">SUBMETER</button>
    </div>
  </form>
</section>
