<app-header [subtitulo]="tituloPagina"></app-header>
<app-utils-bar></app-utils-bar>
<section class="secao-usuarios">
    <mat-form-field class="secao-usuarios__filtro">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Carlos" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Nome Coluna -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let processo"><a [routerLink]="'/processos/edit/' + processo.atendimentoId"> {{processo.atendimentoId}} </a></td>
        </ng-container>
  
        <!-- Matricula Column -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let processo"> {{ processo.dataDistribuicao }} </td>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="vara">
          <th mat-header-cell *matHeaderCellDef> Vara </th>
          <td mat-cell *matCellDef="let processo"> {{ processo.vara}} </td>
        </ng-container>
  
        <!-- Semestre Column -->
        <ng-container matColumnDef="forum">
          <th mat-header-cell *matHeaderCellDef> Fórum </th>
          <td mat-cell *matCellDef="let processo"> {{processo.forum}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="colunasMostradas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasMostradas;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Itens por pagina:"
        aria-label="Selecione a pagina">
      </mat-paginator>
    </div>
  
  </section>