<app-header [subtitulo]="tituloPagina"></app-header>
<app-utils-bar></app-utils-bar>
<ng-container *ngIf="tipoFicha !== 'Trabalhista'; else formTrabalhista">
  <app-form-atendimento-civil (acaoClique)="abrirModalEditar(this.atendimento)"
    (acaoCliqueExcluir)="abrirModalExcluir(this.atendimento)" [editarComponente]="true" />
</ng-container>
<ng-template #formTrabalhista>
  <app-form-atendimento-trabalhista (acaoClique)="abrirModalEditar(this.atendimento)"
    (acaoCliqueExcluir)="abrirModalExcluir(this.atendimento)" [editarComponente]="true" />
</ng-template>
