<section class="secao-form-medidas">
  <h3>Medida Jurídica</h3>

  <form class="formulario" [formGroup]="formMedidas">
    <div class="linha">
      <mat-form-field>
        <mat-label>Nome da ação</mat-label>
        <input matInput placeholder="Nome da ação" formControlName="nome" />
        <mat-error *ngIf="formMedidas.get('nome')?.errors?.['required']">
          Nome da ação é obrigatória!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="linha">
      <mat-form-field class="inputs-medios">
        <mat-label>Área</mat-label>
        <input matInput placeholder="Área" formControlName="area" />
        <mat-error *ngIf="formMedidas.get('area')?.errors?.['required']">
          Área é obrigatória!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="linha">
      <mat-form-field class="inputs-medios">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="descricao" placeholder="Descrição"></textarea>
      </mat-form-field>
    </div>

    <div class="espacador"></div>

    <div class="btn-group">
      <button mat-flat-button class="btn" color="warn" type="button" *ngIf="editComponent === true"
        (click)="excluir()">Excluir</button>
      <button mat-flat-button class="btn btn-basic" [disabled]="formMedidas.invalid">Salvar</button>
      <button mat-flat-button class="btn" color="accent" (click)="executarAcao()" [disabled]="formMedidas.invalid">
        Submeter
      </button>
    </div>
  </form>
</section>
