<mat-toolbar-row class="utils-bar">
  <div class="botoes-acoes">
    <button mat-icon-button (click)="voltar()"><mat-icon
      class="mat-18">arrow_back_ios</mat-icon></button>
    <button mat-icon-button (click)="avancar()"><mat-icon
        class="mat-18">arrow_forward_ios</mat-icon></button>
    <button mat-icon-button><mat-icon class="mat-18">update</mat-icon></button>
  </div>
  <span class="example-spacer"></span>
  <div class="botoes-acoes">
    <button mat-button>VOLTAR</button>
    <button mat-raised-button>AVANÇAR</button>
  </div>
</mat-toolbar-row>
