<app-header [subtitulo]="tituloPagina"></app-header>
<app-utils-bar></app-utils-bar>
<section class="secao-atendimentos">
  <mat-form-field class="secao-atendimentos__filtro">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ATE00001" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- ID Coluna -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let atendimento">{{ atendimento.id }}</td>
      </ng-container>

      <!-- Assistido Coluna -->
      <!-- <ng-container matColumnDef="assistido">
        <th mat-header-cell *matHeaderCellDef>assistido</th>
        <td mat-cell *matCellDef="let assistido">{{ atendimento.assistido }}</td>
      </ng-container> -->

      <!-- Tipo Coluna -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let atendimento">
          <a>{{
            atendimento.area
            }}</a>
        </td>
      </ng-container>

      <!-- Status Coluna -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let atendimento">
          {{ atendimento.status }}
        </td>
      </ng-container>

      <!-- Data de Criação Coluna -->
      <ng-container matColumnDef="dataDeCriacao">
        <th mat-header-cell *matHeaderCellDef>Data de Criação</th>
        <td mat-cell *matCellDef="let atendimento">
          {{ atendimento.dataCriacao }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasMostradas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasMostradas"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="items por página::">
    </mat-paginator>
  </div>
</section>
