<app-header [subtitulo]="tituloDaPagina"></app-header>

<section class="secao-usuarios">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Nome Coluna -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let perfil"> {{perfil.nome}} </td>
      </ng-container>

      <!-- Matricula Column -->
      <ng-container matColumnDef="permissoes">
        <th mat-header-cell *matHeaderCellDef> Permissões </th>
        <td mat-cell *matCellDef="let perfil"> 
        <span *ngFor="let modulos of perfil.permissoes; let last = last">
        {{modulos.modulo}}
        <span *ngIf="!last"> - </span>
        </span>
        </td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="colunasMostradas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasMostradas;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Rows per page:">
    </mat-paginator>
  </div>

</section>
