<section class="secao-formUsuario">
  <mat-card>
    <form [formGroup]="formCadastro">
      <section>
        <div class="formUsuario-titulo">
          <h3>Dados Pessoais</h3>
        </div>
      </section>
      <mat-card-content>
        <div class="grid-container">
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>Matrícula</mat-label>
              <input matInput formControlName="matricula" placeholder="matricula">
              <mat-error *ngIf="formCadastro.get('matricula')?.errors">Matrícula é obrigatória</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" placeholder="Nome">
              <mat-error *ngIf="formCadastro.get('nome')?.errors">Nome é obrigatório</mat-error>
            </mat-form-field>
            <app-dropdown-perfil label="Perfil" placeholder="Perfil" [control]="perfilControl"></app-dropdown-perfil>
            <mat-error *ngIf="formCadastro.get('perfil')?.errors">Perfil é obrigatório</mat-error>
          </div>
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="telefone" placeholder="+XX XXXX-XXXX">
              <mat-error *ngIf="formCadastro.get('telefone')?.errors">Telefone é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Semestre</mat-label>
              <input matInput formControlName="semestre" placeholder="Digite seu Semestre">
              <mat-error *ngIf="formCadastro.get('semestre')?.errors">CPF é obrigatório</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="status" color="primary" labelPosition="before">Ativo:</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
      <div class="acessoPerfil">
        <h3>Dados de Acesso</h3>
      </div>
      <mat-card-content>
        <div class="grid-container">
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
              <mat-error *ngIf="formCadastro.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
              <mat-error *ngIf="formCadastro.get('email')?.errors?.['email']">E-mail inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="senha" type="password" placeholder="Digite sua senha">
              <mat-error *ngIf="formCadastro.get('senha')?.errors?.['required']">Senha é obrigatória</mat-error>
              <mat-error *ngIf="formCadastro.get('senha')?.errors?.['minlength']">Senha deve ter pelo menos 3
                caracteres</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>Confirmar E-mail</mat-label>
              <input matInput formControlName="confirmarEmail" placeholder="Digite seu e-mail novamente">
              <mat-error *ngIf="formCadastro.get('confirmarEmail')?.errors?.['required']">Confirmação de E-mail é
                obrigatória</mat-error>
              <mat-error *ngIf="formCadastro.get('confirmarEmail')?.errors?.['email']">E-mail inválido</mat-error>
              <mat-error *ngIf="formCadastro.get('confirmarEmail')?.errors?.['equalTo']">E-mails não
                coincidem</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput formControlName="confirmarSenha" type="password" placeholder="Repita sua senha">
              <mat-error *ngIf="formCadastro.get('confirmarSenha')?.errors?.['required']">Confirmação de Senha é
                obrigatória</mat-error>
              <mat-error *ngIf="formCadastro.get('confirmarSenha')?.errors?.['equalTo']">Senhas não
                coincidem</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="full-width">
        <button (click)="executarAcao()" mat-flat-button [disabled]="formCadastro.invalid">SALVAR
        </button>
        <button (click)="executarAcao()" mat-flat-button [disabled]="formCadastro.invalid" color="primary">SUBMETER
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
