@import "../../../../../styles.scss";

@mixin estiloLink {
  align-items: center;
  color: $branco;
  display: flex;
  text-decoration: none;
}

@mixin estiloIcone {
  color: $branco;
  margin-right: 1em;
  @media screen and (max-width: 768px) {
    margin-right: 0.5em;
  }
  vertical-align: middle;
}

div {
  mat-expansion-panel {
    background-color: transparent;
    box-shadow: none;
    margin: 0;

    mat-expansion-panel-header {
      color: $branco;
      /* navegação pai */
      mat-panel-title {
        .nav__link {
          @include estiloLink();

          .icone-nav {
            @include estiloIcone();
          }
        }

        .nav__link--disabled {
          color: gray;

          .icone-nav {
            color: inherit;
          }
        }
      }

      ::ng-deep .mat-expansion-indicator:after {
        color: $branco;
      }
    }
    /* navegação filha */
    .nav__link--filha {
      @include estiloLink();
      border-left: 1px solid white;
      margin-left: 0.8em;
      padding-left: 2em;

      .icone-nav {
        @include estiloIcone();
      }
    }
  }
}
