<mat-stepper linear #stepper [formGroup]="formAtendimentos">
  <mat-step [stepControl]="primeiroGrupo" label="Identificação do Estagiário">
    <form [formGroup]="primeiroGrupo" class="grupo-form">
      <mat-form-field class="input-muitoPequeno">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="dataAtendimento" formControlName="dataAtendimento" required>
        <mat-datepicker-toggle matIconSuffix [for]="dataAtendimento" color="primary"></mat-datepicker-toggle>
        <mat-datepicker #dataAtendimento></mat-datepicker>
        <mat-error *ngIf="formAtendimentos.get('primeiroGrupo')?.get('dataAtendimento')?.errors?.['required']">Data de
          atendimento é obrigatória</mat-error>
      </mat-form-field>
      <mat-form-field class="input-grande">
        <mat-label>Estagiário</mat-label>
        <input matInput placeholder="Nome do Estagiário" formControlName="estagiario" required>
        <mat-error *ngIf="formAtendimentos.get('primeiroGrupo')?.get('estagiario')?.errors?.['required']">Estagiário é
          obrigatório</mat-error>
      </mat-form-field>
      <div class="input-full">
        <button mat-raised-button matStepperNext [disabled]="formAtendimentos.get('primeiroGrupo')?.invalid"
          color="primary">Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="segundoGrupo" label="Identificação do Assistido">
    <form [formGroup]="segundoGrupo" class="grupo-form">
      <mat-form-field class="input-medio">
        <mat-label>Assistido</mat-label>
        <input matInput formControlName="assistido" placeholder="Nome do assistido" required>
        <mat-error *ngIf="formAtendimentos.get('segundoGrupo')?.get('assistido')?.errors?.['required']">Assistido é
          obrigatório</mat-error>
      </mat-form-field>
      <button mat-raised-button routerLink="/assistidos/add" class="botao-cadastro">Cadastrar Assistido</button>
      <div class="input-full">
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button matStepperNext [disabled]="formAtendimentos.get('segundoGrupo')?.invalid"
          color="primary">Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="terceiroGrupo" label="Parte Contrária">
    <form [formGroup]="terceiroGrupo" class="grupo-form">
      <mat-form-field class="input-grande">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nomeParteContraria" placeholder="nome">
        <mat-error *ngIf="formAtendimentos.get('terceiroGrupo')?.get('nomeParteContraria')?.errors?.['required']">Nome
          da Parte Contrária é
          obrigatória</mat-error>
      </mat-form-field>
      <mat-form-field class="input-pequeno">
        <mat-label>Qualificação</mat-label>
        <input matInput formControlName="qualificacaoParteContraria" placeholder="qualificação">
        <mat-error
          *ngIf="formAtendimentos.get('terceiroGrupo')?.get('nomeParteContraria')?.errors?.['required']">Qualificação
          da Parte Contrária é
          obrigatória</mat-error>
      </mat-form-field>
      <mat-form-field class="input-muitoPequeno">
        <mat-label>RG</mat-label>
        <input matInput formControlName="rgParteContraria" placeholder="RG">
      </mat-form-field>
      <mat-form-field class="input-muitoPequeno">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpfParteContraria" placeholder="CPF">
      </mat-form-field>
      <mat-form-field class="input-medio">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefoneParteContraria" placeholder="Telefone">
      </mat-form-field>
      <mat-form-field class="input-medio">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="emailParteContraria" placeholder="E-mail">
      </mat-form-field>
      <mat-form-field class="input-medio">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="enderecoParteContraria" placeholder="Endereço">
      </mat-form-field>
      <mat-form-field class="input-full">
        <mat-label>Informações Complementares</mat-label>
        <textarea matInput formControlName="informacoesComplementares"
          placeholder="Informações Complementares"></textarea>
      </mat-form-field>
      <div class="input-full">
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button matStepperNext [disabled]="formAtendimentos.get('terceiroGrupo')?.invalid"
          color="primary">Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="quartoGrupo" label="Testemunhas">
    <form [formGroup]="quartoGrupo" class="grupo-form">
      <div class="input-full">
        <h3 class="subtitulo">Testemunha 1</h3>
      </div>
      <mat-form-field class="input-grande">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nomeTestemunha1" placeholder="nome">
      </mat-form-field>
      <mat-form-field class="input-pequeno">
        <mat-label>Qualificação</mat-label>
        <input matInput formControlName="qualificacaoTestemunha1" placeholder="qualificação">
      </mat-form-field>
      <mat-form-field class="input-full">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="enderecoTestemunha1" placeholder="endereço da testemunha">
      </mat-form-field>
      <div class="input-full">
        <h3 class="subtitulo">Testemunha 2</h3>
      </div>
      <mat-form-field class="input-grande">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nomeTestemunha2" placeholder="nome">
      </mat-form-field>
      <mat-form-field class="input-pequeno">
        <mat-label>Qualificação</mat-label>
        <input matInput formControlName="qualificacaoTestemunha2" placeholder="qualificação">
      </mat-form-field>
      <mat-form-field class="input-full">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="enderecoTestemunha2" placeholder="endereço da testemunha">
      </mat-form-field>
      <div class="input-full">
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button matStepperNext [disabled]="formAtendimentos.get('quartoGrupo')?.invalid"
          color="primary">Avançar</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="quintoGrupo" label="Finalização">
    <form [formGroup]="quintoGrupo" class="grupo-form">
      <mat-form-field class="input-full">
        <mat-label>Histórico</mat-label>
        <textarea matInput formControlName="historico" placeholder="Histórico do atendimento"></textarea>
      </mat-form-field>
      <mat-form-field class="input-full">
        <mat-label>Medida Jurídica Cabível</mat-label>
        <input matInput formControlName="medidaJuridica" placeholder="Medida Jurídica">
      </mat-form-field>
      <div class="input-full">
        <mat-form-field class="input-pequeno">
          <mat-label>Status</mat-label>
          <mat-select matInput formControlName="status" ngDefaultControl>
            <mat-option *ngFor="let statu of status" [value]="statu">
              {{ statu }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-full">
        <h3 class="subtitulo">Assinatura</h3>
      </div>
      <div class="input-full">
        <input type="file" #fileInput style="display:none" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx"
          formControlName="arquivos">
        <button mat-raised-button color="primary"
          (click)="fileInput.click()"><mat-icon>upload_2</mat-icon>Upload</button>
        <p class="arquivos-label">Arquivos aceitos: pdf, doc, docx</p>
      </div>
      <div class="input-full">
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button [disabled]="formAtendimentos.invalid" (click)="stepper.reset()">Concluir</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
