<mat-form-field appearance="outline">
  <mat-label>Supervisor</mat-label>
  <input matInput placeholder="Digite o nome do Supervisor" [formControl]="control" ngDefaultControl [matAutocomplete]="auto">
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let supervisor of filteredOptions$ | async" [value]="supervisor">
      {{supervisor.nome}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
