<section class="login-page">
  <div class="card">
    <img src="assets/images/logo.jpg" alt="logo do GPRO">
  <h2>Login</h2>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Digite seu email academico">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Digite sua senha">
    </mat-form-field>
  </p>
  <button routerLink="/home">Login</button>
  <a href="#">Esqueceu a senha?</a>
</div>
<footer>
  <div class="info-footer">
    <ul>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Privacidade</a></li>
      <li><a href="#">Termos de uso</a></li>
    </ul>
    <span>
      © {{anoAtual}} GPRO
    </span>
  </div>
</footer>
</section>
