@import "../../../../styles.scss";

.user-nav {
  align-items: flex-start;
  background: $roxo-escuro;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: space-around;
  margin-left: 70vw;
  position: absolute;
  transition: height 0.5s ease-out, border 0.5s ease;
  top: 50px;
  overflow-y: hidden;
  width: 25vw;
  z-index: 9999;

  @media screen and (max-width: 768px) {
    margin-left: 40vw;
  }

  &__informacoes {
    align-items: center;
    display: flex;
    color: $branco;
    border-bottom: 1px solid $branco;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em auto 0;
    max-height: 100px;
    padding: 1.3em 0;
    width: 85%;

    @media screen and (max-width: 768px) {
      height: auto;
      max-height: none;
      flex-direction: column;
    }

    .foto {
      align-items: center;
      border-radius: 100%;
      background-color: gainsboro;
      display: flex;
      justify-content: center;
      height: 100px;
      width: 100px;

      p {
        font-size: 2em;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .user-nav__texto {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
      justify-content: center;
      max-width: calc(100% - 100px - 1.5em);
      padding-left: 1.5em;

      &___nome {
        color: $branco;
        font-family: $fonte-padraoMedia;
        font-size: 24px;
        word-break: break-word;
      }

      &___perfil {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        letter-spacing: 0.1em;
        padding-top: 0.6em;
      }
    }
  }

  &__acoes {
    align-items: flex-start;
    display: flex;
    color: $branco;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1em 0;
    width: 85%;

    @media screen and (max-width: 768px) {
      padding-bottom: 3em;
    }

    a {
      align-items: center;
      color: $branco;
      display: flex;
      font-family: $fonte-padraoLarga;
      font-size: 22px;
      line-height: 28px;
      text-decoration: none;
      padding-bottom: 0.5em;

      mat-icon {
        margin-right: 1.5em;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__versao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;

    p {
      color: $branco;
      font-family: $fonte-padraoMedia;
      font-size: 16px;
      letter-spacing: 0.1em;
      text-align: center;
    }
  }

  /* menu aberto */
  &.active {
    border: 1px solid $branco;
    overflow-y: visible;
    height: 45vh;
    z-index: 9999;

    @media screen and (max-width: 768px) {
      height: 80vh;
      width: 60vw;
    }
  }
}
