<div>
  <input
    type="file"
    multiple
    #fileInput
    style="display: none"
    (change)="onFilesSelected($event)"
    accept=".pdf,.doc,.docx,image/png"
  />
  <button
    mat-raised-button
    color="accent"
    (click)="fileInput.click()"
    style="margin-right: 15px"
  >
    Selecionar
  </button>
  <button id="button" mat-flat-button (click)="uploadFiles()">
    <mat-icon>upload_2</mat-icon>Upload
  </button>
  <p class="arquivos-label">Arquivos aceitos: pdf, doc, docx, png</p>
  <p *ngIf="selectedFiles" style="margin-top: 20px;">
    Arquivo(s) selecionados: 
    <span *ngFor="let file of selectedFiles" style="margin-right: 10px;">{{ file.name }}</span>
  </p>
</div>

<mat-progress-bar
  *ngIf="uploadProgress > 0"
  mode="indeterminate"
  [value]="uploadProgress"
  style="margin-top: 20px"
></mat-progress-bar>
