.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: -webkit-fill-available;
  margin: 0.5em;

  &__titulo {
    font-weight: bold;
  }

  &__conteudo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 14px 4px;
    justify-content: flex-start;
    overflow-y: auto;
  }

  &__botoes {
    padding: 0 24px 9px;
  }
}
