<section class="modal">
  <h4 mat-dialog-title class="modal__titulo">{{ data.titulo }} Envolvidos</h4>
  <div mat-dialog-content class="modal__conteudo">
    <ng-container *ngIf="(data.listaAtendimento && data.listaAtendimento.length > 0) || (data.listaProcesso && data.listaProcesso.length > 0); else semRegistros">
      <ng-container *ngIf="data.listaAtendimento && data.listaAtendimento.length > 0">
        <app-card-atendimentos [atendimento]="item" *ngFor="let item of data.listaAtendimento"></app-card-atendimentos>
      </ng-container>
      <ng-container *ngIf="data.listaProcesso && data.listaProcesso.length > 0">
        <app-card-processos [processo]="item" *ngFor="let item of data.listaProcesso"></app-card-processos>
      </ng-container>
    </ng-container>
  </div>
  <div mat-dialog-actions class="modal__botoes">
    <button mat-button mat-dialog-close (click)="fechar()">FECHAR</button>
  </div>
</section>
<ng-template #semRegistros>
  <p>Não há registros armazenados.</p>
</ng-template>
