<nav class="user-nav active">
  <div class="user-nav__informacoes">
    <img src="https://openclipart.org/download/247319/abstract-user-flat-3.svg" alt="icone usuario">
    <p class="user-nav__informacoes___nome">Seu Nome</p>
    <p class="user-nav__informacoes___tipo">seu tipo de usuario</p>
  </div>
  <div class="user-nav__acoes">
    <a><mat-icon>person</mat-icon>Perfil</a>
    <a><mat-icon>logout</mat-icon>Log out</a>
  </div>
  <div class="user-nav__versao">
    <span>v1.0</span>
  </div>
</nav>
