<nav class="user-nav" [class.active]="isMenuAtivo">
  <div class="user-nav__informacoes">
    <img src="https://openclipart.org/download/247319/abstract-user-flat-3.svg" alt="icone usuario">
    <p class="user-nav__informacoes___nome">{{ nome }}</p>
    <p class="user-nav__informacoes___tipo">{{ tipoUsuario }}</p>
  </div>
  <div class="user-nav__acoes">
    <a><mat-icon aria-hidden="false" fontIcon="person"></mat-icon>Perfil</a>
    <a routerLink="/" (click)="clearLocalStorage()"><mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>Log out</a>
  </div>
  <div class="user-nav__versao">
    <span>v1.0</span>
  </div>
</nav>
