h3 {
  font-size: 32px;
  margin-bottom: 56px;
}

h4 {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.form-assistidos {
  margin: 0 auto;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }

  .col {
    flex: 1;

    .full-width {
      width: 100%;
      flex-grow: 10;
    }
  }

  .btn-group {
    .btn {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.container {
  margin: 2em auto;
  width: 85%;
}

.sticky-bottom {
  position: sticky;
  bottom: -20px;
  background-color: #fff;
  z-index: 1000;
}
