<section class="secao-formUsuario">
  <mat-card>
    <form [formGroup]="formCadastro" (ngSubmit)="executarAcao()">
      <section>
        <div class="formUsuario-titulo">
          <h3>Dados Pessoais</h3>
        </div>
      </section>
      <mat-card-content>
        <div class="grid-container">
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" placeholder="Nome">
              <mat-error *ngIf="formCadastro.get('nome')?.errors">Nome é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="input-container" appearance="outline">
              <mat-label>Selecione o tipo de perfil</mat-label>
              <mat-select matNativeControl formControlName="role">
                <mat-option *ngFor="let role of perfis" [value]="role.perfil">
                  {{ role.viewperfil }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formCadastro.get('role')?.errors">Perfil é obrigatório</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="status" color="primary" labelPosition="before">Ativo:</mat-checkbox>
          </div>
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" placeholder="CPF" mask="000.000.000-00"
                [dropSpecialCharacters]="false">
              <mat-error *ngIf="formCadastro.get('cpf')?.errors?.['minlength']">CPF precisa ter no mínimo 11
                dígitos</mat-error>
            </mat-form-field>
            <mat-form-field class="input-container" appearance="outline">
              <mat-label>Selecione a Unidade</mat-label>
              <mat-select matNativeControl formControlName="unidadeInstitucional">
                <mat-option *ngFor="let unidade of unidadeInstitucional" [value]="unidade">
                  {{ unidade }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formCadastro.get('unidadeInstitucional')?.errors">Unidade é obrigatória</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="cadastrarSenha" color="primary" labelPosition="before">Cadastrar Senha Manualmente</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="grid-container">
          <div class="grid-item">
            <mat-form-field appearance="outline" *ngIf="formCadastro.get('role')?.value === 'ESTAGIARIO'">
              <mat-label>Matrícula</mat-label>
              <input matInput formControlName="matricula" placeholder="matricula" mask="000000000">
              <mat-error *ngIf="formCadastro.get('matricula')?.errors">Matrícula é obrigatória</mat-error>
            </mat-form-field>
            <app-funcionario-autocomplete cargo="Professor" [control]="supervisorControl"
              *ngIf="formCadastro.get('role')?.value === 'ESTAGIARIO'" />
          </div>
          <div class="grid-item">
            <mat-form-field appearance="outline" *ngIf="formCadastro.get('role')?.value === 'ESTAGIARIO'">
              <mat-label>Semestre</mat-label>
              <input matInput formControlName="semestre" placeholder="Digite seu Semestre">
              <mat-error *ngIf="formCadastro.get('semestre')?.errors">Semestre é obrigatório</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div class="grid-container">
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
              <mat-error *ngIf="formCadastro.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
              <mat-error *ngIf="formCadastro.get('email')?.errors?.['email']">E-mail inválido</mat-error>
              <mat-error *ngIf="formCadastro.get('email')?.errors?.['domainValidator']">E-mail inválido, e-mail deve ser
                de domínio do Projeção</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="cadastrarSenhaControl.value === true">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="senha" [type]="escondido ? 'password' : 'text'"
                placeholder="Digite sua senha">
              <button mat-icon-button matSuffix type="button" (click)="escondido = !escondido"
                [attr.aria-label]="'Esconder a senha'" [attr.aria-pressed]="escondido">
                <mat-icon>{{escondido ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="formCadastro.get('senha')?.errors?.['required']">Senha é obrigatória</mat-error>
              <mat-error *ngIf="formCadastro.get('senha')?.errors?.['minlength']">Senha deve ter pelo menos 3
                caracteres</mat-error>
            </mat-form-field>
          </div>
          <div class="grid-item">
            <mat-form-field appearance="outline">
              <mat-label>Confirmar E-mail</mat-label>
              <input matInput formControlName="confirmarEmail" placeholder="Digite seu e-mail novamente">
              <mat-error *ngIf="formCadastro.get('confirmarEmail')?.errors?.['required']">Confirmação de E-mail é
                obrigatória</mat-error>
              <mat-error *ngIf="formCadastro.get('confirmarEmail')?.errors?.['email']">E-mail inválido</mat-error>
              <mat-error *ngIf="formCadastro.get('confirmarEmail')?.errors?.['domainValidator']">E-mail inválido, e-mail
                deve ser de domínio do Projeção</mat-error>
              <mat-error *ngIf="formCadastro.get('confirmarEmail')?.errors?.['equalTo']">E-mails não
                coincidem</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="cadastrarSenhaControl.value === true">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput formControlName="confirmarSenha" type="password" placeholder="Repita sua senha">
              <mat-error *ngIf="formCadastro.get('confirmarSenha')?.errors?.['required']">Confirmação de Senha é
                obrigatória</mat-error>
              <mat-error *ngIf="formCadastro.get('confirmarSenha')?.errors?.['equalTo']">Senhas não
                coincidem</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="full-width">
        <button type="button" *ngIf="editComponent === true" (click)="excluir()" mat-flat-button color="warn">EXCLUIR
        </button>
        <button mat-flat-button [disabled]="formCadastro.invalid" (executarAcaoSemRedirecionar)="acaoClique2">SALVAR
        </button>
        <button mat-flat-button [disabled]="formCadastro.invalid" color="primary" (executarAcao)="acaoClique">SUBMETER
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
