<section [ngSwitch]="data.tituloCriado" class="modal">
  <div *ngSwitchCase="'Processo'">
  <h4 mat-dialog-title>{{ data.tituloCriado }} cadastrado com sucesso!</h4>
  <div mat-dialog-content>
    <p>Nome: {{ data.nome }}</p>
    <p>Email: {{ data.numero }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>FECHAR</button>
  </div>
  </div>
  <div *ngSwitchCase="'Assistido'">
  <h4 mat-dialog-title>{{ data.tituloCriado }} cadastrado com sucesso!</h4>
  <div mat-dialog-content>
    <p>Nome: {{ data.nome }}</p>
    <p>Email: {{ data.email }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>FECHAR</button>
  </div>
  </div>
  <div *ngSwitchDefault class="">Nao especificado</div>
</section>
