@import "../../../styles.scss";

.user-nav {
  align-items: flex-start;
  background: $roxo-escuro;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 0;
  margin-left: 78%;
  position: absolute;
  transition: 0.5s;
  top: 50px;
  overflow-y: hidden;
  width: 20vw;
  z-index: 9999;

  &__informacoes {
    align-items: flex-start;
    display: flex;
    color: $branco;
    border-bottom: 1px solid $branco;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em auto 0;
    max-height: 100px;
    padding: 0.6em 0;
    width: 85%;

    img {
      display: flex;
      border-radius: 100%;
      margin: 0 1em 0 auto;
      height: 100px;
      width: 100px;
    }

    &___nome {
      padding-top: 1.6em;
    }

    &___tipo {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      font-weight: lighter;
      letter-spacing: 0.1em;
      padding-top: 0.6em;
    }
  }

  &__acoes {
    align-items: flex-start;
    display: flex;
    color: $branco;
    border-bottom: 1px solid $branco;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1em 0;
    width: 85%;
    a {
      align-items: center;
      color: $branco;
      display: flex;
      font-weight: 500;
      line-height: 28px;
      text-decoration: none;
      padding-bottom: 0.5em;

      mat-icon {
        margin-right: 1em;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__versao {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    p {
      color: $branco;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
    }
  }

  /* menu aberto */
  &.active {
    border: 1px solid $branco;
    overflow-y: visible;
    height: 40vh;
    transition: height 0.5s ease-out;
    z-index: 9999;

    @media screen and (max-width: 768px) {
      width: 50vw;
    }
  }
}
