@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&display=swap");
/* cores */
$branco: #ffffff;
$preto: #000000;

$roxo: #393053;
$roxo-claro: #635985;
$roxo-escuro: #18122b;

$vermelho: #b3261e;
$vermelho-claro: #f9dedc;
$vermelho-escuro: #410e0b;

/* fontes */
$fonte-padrao: "DM Sans", sans-serif;
$fonte-titulo: "Bebas Neue", sans-serif;

/* reset css + fonte padronizada */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  height: 100%;
  font-family: $fonte-padrao;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* material */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
