@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&display=swap');

:root {
  /* cores */
  $branco: #FFFFFF;
  $preto: #000000;

  $roxo: #393053;
  $roxo-claro: #635985;
  $roxo-escuro: #18122B;

  $vermelho: #B3261E;
  $vermelho-claro: #F9DEDC;
  $vermelho-escuro: #410E0B;

  /* fontes */
  $fonte-padrao: 'DM Sans', sans-serif;
  $fonte-titulo: 'Bebas Neue', sans-serif;
}

/* reset css + fonte padronizada */
* {
  border: 0;
  font-size: 100%;
  font-family: var(--fonte-padrao);
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
