<app-header [subtitulo]="tituloPagina"></app-header>
<app-utils-bar></app-utils-bar>
<section>
  <h3>Selecione o tipo de atendimento</h3>
  <div>
    <button mat-raised-button color="primary" routerLink="/assistidos/novo-atendimento/civil">Atendimento Civil</button>
    <button mat-raised-button color="primary" routerLink="/assistidos/novo-atendimento/trabalhista">Atendimento Trabalhista</button>
    <button mat-raised-button color="primary" routerLink="/assistidos/novo-atendimento/familia">Atendimento Família</button>
    <button mat-raised-button color="primary" routerLink="/assistidos/novo-atendimento/penal">Atendimento Penal</button>
  </div>
</section>
